

{% extends './base.html' %}

{%load static %}



{% block content %}
                <img src="{% static 'images/one.jpeg' %}" style="height: 200px; width:100%">

<h1 class="text-center">hello my student : {{student.fname}}{{student.lname}}</h1>
<table class="table table-dark table-striped">
            <tr>
                                <td>id</td>

                <td>fname</td>
                <td>lname</td>
                <td>student_track</td>
                <td>img</td>

            </tr>
            <tr>

            <td> {{student.id}}</td>

            <td id="bookname">{{student.fname}}</td>
            <td> {{student.lname}}</td>
            <td>{{student.student_track}}</td>
            <td><img src="{{ student.img.url }}"/></td>

            <br>

            </tr>



        </table>
<a href="/courses">back</a>
{% endblock %}



